body {
    background-image: url(img_background.png);
    background-size: cover;
    background-position: center;
}

#page {
    width: 800px;
    padding: 24px;
    background-color: #eec48e;
    border-radius: 24px;
    margin:48px auto;
}

img {
    border-radius: 16px;
    width: 100%;
}